# Dependencias
# Ignora todas las carpetas node_modules en cualquier subdirectorio
node_modules/

# Ignora todos los archivos .env para no subir contraseñas ni secretos
.env
*.env
.env.*

# Archivos de Log
# Ignora archivos de log que se generan automáticamente
npm-debug.log*
yarn-debug.log*

# Archivos de Sistema Operativo
.DS_Store
Thumbs.db

# Carpetas de Build o Distribución
dist/
build/
